html {
  display:inlie-block;
  text-align:center;
}

h1 {
  font-size:40px;
  color:white;
  background-color:grey;
  display:block;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 5em;
  padding-right: 5em;
}




nav li{
  text-decoration: none;
  color:white;
  background-color:lightgrey;
  display:inline;
}

nav a {
text-decoration: none;
color: white;
margin: auto;
padding: 2px;
margin-top: 2px;
}

h2 {
  font-size:30px;
  color: black;
  background-color: #11f2ce;
  padding: 10px;
  margin:10px;
  display: block;
  text-align: left;
}

span {
  border-bottom: solid 2px yellow;
  font-weight: bold;
}

div  a{
  text-decoration: underline;
  color: blue;
  background-color: yellow;
}

.pictures{
  align: center;
  margin:auto;
  padding:auto;
  border:auto;
  display: inline;
  box-sizing: content-box;
  text-align: center;
  width: 33%;
}


footer {
  background-color: black;
  height: 50px;
  text-align: center;
  color: white;
  width: 100%;
  display: block;
}
