h1{
  color: white;
  background-color: lightgrey;
  text-align:center;
  font-size:40px;
  margin: 0;
  padding: 2px;
}

nav {
  text-align: center;
}

li, a{
  text-decoration:none;
  color: white;
  background-color:grey;
  margin: .2em;
  text-align:center;
  padding: .2em;
  display: inline-block;
}

h2 {
  background: teal;
  padding: 3px;
  margin: 1px;
}

.pretty {}

.frame {}

.links>a{
  background-color: yellow;
}

.footertext {
  color: white;
  background-color: black;
  padding: 1em 0;
  text-align:center;
}
